.panel {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.panel > * {
  position: relative;
  min-width: 10rem;
}

.title {
  font-size: 3rem;
  line-height: 1.2;
}
